docs/n8n-auto-close-workflow.json
{
  "name": "Auto-Close Inactive Sessions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"Session\" \nSET status = 'CLOSED', is_processing = false, \"updatedAt\" = NOW() \nWHERE status IN ('BOT', 'WAITING') \n  AND last_interaction_at < NOW() - INTERVAL '12 hours'\nRETURNING id, status, \"contactId\";",
        "options": {}
      },
      "name": "close_inactive_sessions",
      "type": "n8n-nodes-base.postgres",
      "position": [224, 0],
      "typeVersion": 2.6,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "any_closed?",
      "type": "n8n-nodes-base.if",
      "position": [448, 0],
      "typeVersion": 2.3
    }
  ],
  "connections": {
    "Every 1 Hour": {
      "main": [
        [{ "node": "close_inactive_sessions", "type": "main", "index": 0 }]
      ]
    },
    "close_inactive_sessions": {
      "main": [
        [{ "node": "any_closed?", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
